---
import { clsx } from 'clsx/lite'
import { Container } from '../elements/container'
import { Heading } from '../elements/heading'
import { Text } from '../elements/text'

const { eyebrow, headline, subheadline, cta, photo, className, ...props } = Astro.props
---

<section class={clsx('py-16', className)} {...props}>
  <Container class="flex gap-16 max-xl:flex-col">
    <div class="flex flex-1 flex-col items-start justify-center gap-6">
      {eyebrow}
      <Heading class="max-w-5xl">{headline}</Heading>
      <Text size="lg" class="flex max-w-3xl flex-col gap-4">
        {subheadline}
      </Text>
      {cta}
    </div>
    <div class="flex flex-1 overflow-hidden rounded-xl outline -outline-offset-1 outline-black/5 *:object-cover dark:outline-white/5">
      {photo}
    </div>
  </Container>
</section>