---
import { clsx } from 'clsx/lite'
import Container from '../elements/container.astro'
import Subheading from '../elements/subheading.astro'
import Text from '../elements/text.astro'
import CheckmarkIcon from '../icons/checkmark-icon.astro'

const { headline, subheadline, price, period, features, cta, className, ...props } = Astro.props
---

<section class={clsx('py-16', className)} {...props}>
  <Container>
    <div class="grid grid-cols-1 gap-x-2 rounded-xl bg-mist-950/2.5 p-2 lg:grid-cols-2 dark:bg-white/5">
      <div class="flex flex-col items-start justify-between gap-10 p-6 sm:p-10">
        <div class="flex flex-col gap-6">
          <Subheading>{headline}</Subheading>
          <Text class="flex flex-col gap-4 text-pretty">{subheadline}</Text>
        </div>
        {cta}
      </div>
      <div class="rounded-sm bg-mist-100 p-6 sm:p-10 dark:bg-mist-950">
        <div class="flex items-baseline gap-2">
          <p class="text-[5rem]/24 font-light tracking-tight text-mist-950 sm:text-8xl/32 dark:text-white">
            {price}
          </p>
          <Text size="lg">{period}</Text>
        </div>
        <ul class="mt-6 grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-1">
          {features.map((feature) => (
            <li class="flex gap-3 text-sm/5">
              <span class="flex size-5 shrink-0 items-center justify-center rounded-xs bg-mist-950 dark:bg-mist-700">
                <CheckmarkIcon class="size-3 stroke-white" />
              </span>
              <p class="text-mist-700 dark:text-mist-400">{feature}</p>
            </li>
          ))}
        </ul>
      </div>
    </div>
  </Container>
</section>